@font-face {
  font-family: 'Konfuc';
  src: url('../fonts/KONFUC__.ttf'),
    url('../fonts/KONFUCF_.ttf'),
    url('../fonts/KONFUCT_.ttf');
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: 'Konfuc';
  min-width: 500px;
}
.game {
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dark {
  background-image: url(../img/dark-background.jpg);
}

.light {
  background-image: url(../img/light-background.jpg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns {
  background: #F899D5;
  color: #6c1f28;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #6c1f28;
  border-radius: 15px;
  cursor: pointer;
}

.dark .btns {
  background: #b7608b;
  color: #f9ecef;
  border: 2px solid #f9ecef;
}

.btns:hover {
  background: #6c1f28;
  color: #F899D5;
  border: 2px solid #F899D5;
}

.dark .btns:hover {
  background: #f9ecef;
  color: #b7608b;
  border: 2px solid #b7608b;
}

.choose_buttons {
  display: flex;
  gap: 30px
}

.empty_cell,
.verticalHint_cell,
.gorizontalHint_cell {
  background-color: #cc729e;
}

.dark .empty_cell,
.dark .verticalHint_cell,
.dark .gorizontalHint_cell {
  background-color: #7c4c8c;
}

.game__name {
  color: #170e13;
  font-size: 36px;
  background-color: #F899D5;
  border-radius: 15px;
  padding: 5px;
}

.dark .game__name {
  color: #f9ecef;
  background-color: #421c54;
}

.game__time {
  font-size: 28px;
  background-color: #F899D5;
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px;
}

.dark .game__time {
  background-color: #421c54;
  border: 1px solid #f9ecef;
  color: #f9ecef;
}

.game_board {
  background-color: white;
  border: 4px solid black;
  border-collapse: collapse;
}

.dark .game_board {
  background-color: black;
  border: 4px solid #b7608b;
  color: #f9ecef;
}

.game_cell,
.verticalHint_cell,
.gorizontalHint_cell {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  text-align: center;
}

.dark .game_cell,
.dark .verticalHint_cell,
.dark .gorizontalHint_cell {
  border: 2px solid #b7608b;
}

.game_cell {
  cursor: pointer;
}

.empty_cell {
  border: none;
}

.right_border {
  border-right: 4px solid black;
}

.dark .right_border {
  border-right: 4px solid #b7608b;
}

.left_border {
  border-left: 4px solid black;
}

.dark .left_border {
  border-left: 4px solid #b7608b;
}

.bottom_border {
  border-bottom: 4px solid black;
}

.dark .bottom_border {
  border-bottom: 4px solid #b7608b;
}

.top_border {
  border-top: 4px solid black;
}

.dark .top_border {
  border-top: 4px solid #b7608b;
}

.fill {
  background-color: black;
}

.dark .fill {
  background-color: #b7608b;
}

.cross {
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 2px), black, transparent calc(50% + 2px)),
      linear-gradient(to top right,  transparent calc(50% - 2px), black, transparent calc(50% + 2px));
}

.dark .cross {
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 2px), #b7608b, transparent calc(50% + 2px)),
      linear-gradient(to top right,  transparent calc(50% - 2px), #b7608b, transparent calc(50% + 2px));
}

.no-scroll {
  overflow: hidden;
  }
  
.modal__background,
.modal__backgroundLevel,
.modal__backgroundPuzzles {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 100%;
  width: 100%;
  background:  rgb(108, 31, 40, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.dark .modal__background,
.dark .modal__backgroundLevel,
.dark .modal__backgroundPuzzles {
  background:  rgb(66, 28, 84, 0.5);
}
  
.modal-active,
.puzzles-active {
  visibility: visible;
  opacity: 1;
}

.modal,
.modalChooseLevel {
  display: flex;
  position: absolute;
  margin: auto;
  width: 70%;
  padding: 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 40px;
  background: #cc729e;
  color: #6c1f28;
  opacity: 0;
  transition: opacity 0.3s;
  gap: 30px;
}

.dark .modal,
.dark .modalChooseLevel {
  background: #7c4c8c;
  color: #f9ecef;
}

.modal {
  width: 40%;
}

.selectPuzzle_wrapper {
  display: flex;
  position: absolute;
  margin: auto;
  width: 20%;
  padding: 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 40px;
  background: #cc729e;
  color: #6c1f28;
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 0.3s;
  gap: 30px;
}

.dark .selectPuzzle_wrapper {
  background: #7c4c8c;
  color: #f9ecef;
}

.modal-active .modal,
.modal-active .modalChooseLevel  {
  opacity: 1;
  z-index: 10;
}

.puzzles-active .selectPuzzle_wrapper  {
  opacity: 1;
  z-index: 10;
}

.level_containers {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.level_container {
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #6c1f28;
}

.dark .level_container {
  border: 2px solid #f9ecef;
}

.level_container:hover {
  border: 2px solid #cc729e;
  background: #6c1f28;
  color: #cc729e;
}

.dark .level_container:hover {
  border: 2px solid #7c4c8c;
  background: #f9ecef;
  color: #7c4c8c;
}

.level_img,
.win_img {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.top_table {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  border-collapse: collapse;
}

.dark .top_table {
  background-color: black;
  border: 2px solid #b7608b;
}

.top_table th {
  background-color: #F899D5;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
  font-size: 26px;
}

.dark .top_table th {
  background-color: #b7608b;
  border: 2px solid #f9ecef;
}

.top_table td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
  font-size: 20px;
}

.dark .top_table td {
  border: 2px solid #f9ecef;
}

.win_wrapper {
  font-size: 26px;
}

.win_text {
  text-align: center;
}

.puzzles_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.selectPuzzle__title {
  text-align: center;
}

.selectPuzzle__title h2 {
  font-size: 26px;
}

.selectPuzzle__title h3 {
  font-size: 14px;
}

.puzzleName {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.puzzleName::after  {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  opacity: 0;
  transition: 0.5s;
  height: 2px;
  background: #6c1f28;
}

.dark .puzzleName::after {
  background: #f9ecef;
}

.puzzleName:hover::after {
  opacity: 1;
  width: 100%;
}

.title_space {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.theme_button {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  background: black;
  border: 2px solid #F899D5;
  transition-duration: 0.5s;
}

.theme_button::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50px;
  background: #F899D5;
  top: 2px;
  left: 2px;
  z-index: 2;
  transition-duration: 0.5s;
}

.theme_button.theme-dark {
  background: #F899D5;
  border: 2px solid black;
}

.theme-dark::after {
  left: 40px;
  background: black;
}