  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  :root {
    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;
    --background-body: #E1D4C9;
    --background-container: #665F55;
    --background-backdrop: rgba(64, 63, 61, 0.80);
    --border-light: #C1B6AD;
    --border-dark: #665F55;
  }

  body {
    background: var(--background-body);
  }

  .no-scroll {
    overflow: hidden;
  }

  .menu__page {
    display: flex;
    /*width: 1440px;*/
    max-width: 1440px;
    padding: 20px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
    background: var(--background-body,#E1D4C9);
    margin: 0 auto;
  }

  .header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .wrapper {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .header__wrapper {
    justify-content: center;
  }

  .header__logo {
    z-index: 3;
  }

  .header-menu {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .header__menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .header__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    color: var(--text-dark, #403F3D);
  }

  .text_Desktop {
    /* Desktop/Action/link & button */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-decoration: none;
  }

  .header__menu-item::after  {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    opacity: 0;
    transition: 0.5s;
    height: 2px;
    background: var(--text-dark);
  }

  .header__coffee-menu-item::after  {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    opacity: 1;
    height: 2px;
    background: var(--text-dark);
  }

  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .coffee-menu {
    display: flex;
    height: 28px;
    justify-content: flex-end;
    align-items: center;
  }

  .header__coffee-menu-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .menu-link-menu-page {
    cursor: default;
  }

  .menu__burger {
    display: none;
    flex-direction: column;
    width: 44px;
    height: 44px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    cursor: pointer;
    z-index: 3;
  }
  
  .burger-line {
    width: 16px;
    border: 1px solid var(--text-dark);
    border-radius: 50px;
    transition: 0.5s;
  }

  .menu__burger-active .burger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .menu__burger-active .burger-line:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }

  .menu {
    margin-bottom: 100px;
  }

  .hidden__h {
    display: none;
  }

  .menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }

  h2 {
    color: var(--text-dark,#403F3D);
    text-align: center;
    /* Desktop/Heading/heading-2 */
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
  }

  .menu__text-decorate {
    font-style: italic;
    color: var(--text-accent);
  }

  .menu-title-text {
    max-width: 800px;
  }

  .button_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  .tab__item {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: none;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: 1s;
  }

  .tab__item-active {
    background: var(--background-container, #665F55);
    border: var(--background-container);
    cursor: default;
    pointer-events: none;
  }

  .tab__item-name {
    color: var(--text-dark, #403F3D);
    /* Desktop/Action/link & button */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .tab__item-active .tab__item-name {
    color: var(--text-light);
  }

  .tab__item-active .tab__item-emoji {
    background: var(--background-body);
  }

  .tab__item-emoji {
    width: 30px;
    height: 30px;
    background: var(--border-light);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .add__cards {
    display: none;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    transition: 1s;
  }

  .add__cards.add__cards-active {
    display: flex;
  }

  .gallery_column {
    display: flex;
    max-width: 1360px;
    /*width: 1360px;*/
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    max-width: 310px;
    height: 506px;
  }

  .gallery-item-img {
    max-width: 310px;
    height: 310px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .gallery-item-img img {
    scale: 1;
    transition: scale 1s;
  }

  h3 {
    color: var(--text-dark, #403F3D);
    text-align: center;
    /* Desktop/Heading/heading-3 */
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
  }

  .item__name {
    margin-bottom: 12px;
  }

  .item__cost {
    margin-top: auto;
  }

  .item-description {
    margin-bottom: 12px;
  }

  p {
    color: var(--text-dark, #403F3D);
    /* Desktop/Body/medium */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
  }

  .gallery-item-context {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
  }

  .contacts__container {
    display: flex;
    max-width: 1360px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665F55);
  }

  .contacts__container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
  }

  .contacts_h2 {
    text-align: left;
    color: var(--text-light);
  }

  .contacts_italic {
    font-style: italic;
    color: var(--text-accent);
  }

  .contacts_h3 {
    text-align: left;
    color: var(--text-light);
  }

  .contacts__container-content-social {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .social {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: 1s;
  }

  .content__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .content__contacts-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    color: var(--text-light);
  }
  a.content__contacts-info {
    position: relative;
  }
  a.content__contacts-info::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    opacity: 0;
    transition: 0.5s;
    height: 2px;
    background: var(--text-light);
  }

  @media (pointer:fine) {
    .tab__item {
      cursor: pointer;
    }

    .gallery-item {
      cursor: pointer;
    }
  }

  @media(hover:hover) {
    .header__menu-item:hover::after {
      opacity: 1;
      width: 100%;
    }

    .tab__item:hover {
      background-color: var(--background-container);
      border: 1px solid var(--background-container);
    }

    .tab__item:hover .tab__item-name {
      color: var(--text-light);
    }
  
    .tab__item:hover .tab__item-emoji  {
      background: var(--background-body);
    }

    .gallery-item:hover img {
      scale: 0.92;
    }

    .add__cards:hover {
      border: 1px solid var(--background-body);
      background: var(--background-container);
    }

    .add__cards:hover path {
      stroke: var(--background-body);
    }

    .social:hover {
      background-color: var(--background-body);
    }
  
    .social:hover .social-icon {
      stroke: var(--text-dark);
    }

    a.content__contacts-info:hover::after {
      opacity: 1;
      width: 100%;
    }

    .size-item:hover,
    .additives-item:hover {
      border: 1px solid var(--background-container);
      background: var(--background-container);
      color: var(--text-light);
      cursor: pointer;
    }

    .size-item:hover .size-item-size,
    .additives-item:hover .additives-item-number {
      background: var(--background-body);
    }

    .modal__button-close:hover {
      background: var(--background-container);
      color: var(--text-light);
      border: 1px solid var(--background-container);
      cursor: pointer;
    }
  }

  @media (min-width:769px) and (max-width:1300px){
    .contacts__container {
      flex-direction: column;
      padding: 100px min(100px,8.72%);
      align-items: flex-start;
    }
  }

  /* @media (max-width:768px) {
    .gallery-item:nth-child(5),
    .gallery-item:nth-child(6),
    .gallery-item:nth-child(7),
    .gallery-item:nth-child(8) {
      display: none;
    }
  } */

  @media (width:768px) {
    .menu__page {
      max-width: 768px;
    }
  
    .menu__burger {
      display: flex;
    }
  
    .menu__nav {
      display: none;
    }

    /* .add__cards {
      display: flex;
    } */

    .contacts__container {
      flex-direction: column;
      padding: 100px min(100px,8.72%);
      align-items: flex-start;
    }
  }

  @media (max-width:768px) {
    .menu__nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      gap: 105px;
      right: -100%;
      width: 100%;
      height: 100%;
      padding: 60px 40px;
      padding-top: 162px;
      opacity: 1;
      transform: translate(100%);
      transition: all 2s;
      z-index: 2;
    }
  
    .menu__nav.active {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      padding: 60px 40px;
      padding-top: 162px;
      gap: 105px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      z-index: 2;
      background: var(--background-body);
      opacity: 1;
      transform: translate(-100%);
      transition: all 1s;
    }
  
    .header__menu {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      gap: 60px;
    }
  
    .menu__nav.active .header__menu {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      gap: 60px;
    }

    .coffee-menu {
      justify-content: center;
      align-self: stretch;
    }
  
    nav {
      flex: 0;
    }
  
    .header__link.text_Desktop {
      font-size: 32px;
      line-height: 125%;
    }
    
    .menu__nav.active .text_Desktop {
      font-size: 32px;
      line-height: 125%;
    }
  
    .menu__nav.active .header__link{
      gap: 16px;
    }
  
    .menu__nav img {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width:381px) and (max-width:767px) {
    .menu__page {
      max-width: 768px;
    }
  
    .menu__burger {
      display: flex;
    }

    h2 {
      font-size: calc(32px + 16 * (100vw / 1440));
    }

    .wrapper,
    .contacts {
      padding: 0px min(40px,4.5%);
    }

    .button_tabs {
      gap: min(16px,5%);
    }

    /* .add__cards {
      display: flex;
    } */

    .contacts__container {
      flex-direction: column;
      padding: min(100px,20%) min(60px,10%);
      align-items: flex-start;
    }
  }

  @media (max-width:380px) {
    .menu__page {
      min-width: 340px;
    }
  
    .menu__burger {
      display: flex;
    }

    .wrapper,
    .contacts {
      padding: 0px 16px;
    }

    h2 {
      font-size: 32px;
    }

    .button_tabs {
      gap: 8px;
    }

    /* .add__cards {
      display: flex;
    } */

    .gallery-item {
      min-width: 0;
    }
  
    .gallery-item-img {
      min-width: 0;
      max-height: 506px;
      
      max-width: 310px;
      border-radius: 40px;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center
    }

    .contacts__container {
      flex-direction: column;
      padding: 60px 16px;
      align-items: flex-start;
      gap: 40px;
    }
  }

  .modal__background {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: var(--background-backdrop);
    opacity: 0;
    transition-delay: 1s;
    transition: 2s;
  }

  .modal-active {
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 1s;
  }

  .modal {
    display: flex;
    position: absolute;
    margin: auto;
    max-width: 800px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
    background: var(--background-body);
    opacity: 0;
    transition-delay: 1s;
    transition: opacity 0.5s;
  }

  .modal-active .modal {
    opacity: 1;
  }

  .modal__container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
  }

  .modal__column_img {
    display: flex;
    max-width: 310px;
    max-height: 310px;
    border-radius: 40px;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .modal__column_content {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
  }

  .modal__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

.modal__size,
.modal__additives {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.modal__size-button,
.modal__additives-button {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.size-item,
.additives-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid var(--border-light);
  color: var(--text-dark);
  font-weight: 600;
  transition: 1s;
}

.size-item-active,
.additives-item-active {
  background: var(--background-container);
  border: 1px solid var(--background-container);
  color: var(--text-light);
}

.size-item-active .size-item-size,
.additives-item-active .additives-item-number {
  background: var(--background-body);
}

.size-item-size,
.additives-item-number {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light);
  color: var(--text-dark);
  transition: 1s;
}

.modal__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}

.modal__warning {
  display: flex;
  padding: 12px 0px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid var(--border-light);
}

.modal__warning-text {
  flex: 1 0 0;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.modal__button-close {
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  transition: 1s;
}

.text-modal {
  color: var(--text-dark, #403F3D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

@media(max-width: 980px) {
  .modal {
    max-width: 688px;
  }
}


@media(max-width: 730px) {
  .modal {
    display: inline-flex;
    max-width: 342px;
  }

  .modal__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal__column_img {
    display: none;
  }

  .modal__column_content {
    padding-left: 0px;
  }
}


  