html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;
  --background-body: #E1D4C9;
  --background-container: #665F55;
  --background-backdrop: rgba(64, 63, 61, 0.80);
  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

body {
  background: var(--background-body);
  margin: 0 auto;
}

.home {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background: var(--background-body,#E1D4C9);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.wrapper {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.header__wrapper {
  justify-content: center;
}

.header__logo {
  z-index: 3;
}

.header-menu {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}

.header__menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-dark, #403F3D);
}

.text_Desktop {
  /* Desktop/Action/link & button */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
}

.header__menu-item::after,
.header__coffee-menu-item::after  {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  opacity: 0;
  transition: 0.5s;
  height: 2px;
  background: var(--text-dark);
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}

.coffee-menu {
  display: flex;
  height: 28px;
  justify-content: flex-end;
  align-items: center;
}

.header__coffee-menu-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.menu__burger {
  display: none;
  flex-direction: column;
  width: 44px;
  height: 44px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  z-index: 3;
}

.burger-line {
  display: block;
  width: 16px;
  border: 1px solid var(--text-dark);
  border-radius: 50px;
  transition: 0.5s;
}

.menu__burger-active .burger-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu__burger-active .burger-line:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

.enjoy {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

.enjoy__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.enjoy__content {
  display: flex;
  padding: 100px;
  max-width: 730px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  z-index: 1;
}

h1 {
  color: var(--text-light, #E1D4C9);
  /* Desktop/Heading/heading-1 */
  font-family: 'Inter', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

.enjoy_italic {
  color: var(--text-accent);
  font-style: italic;
}

p {
  color: var(--text-light,#E1D4C9);
  /* Desktop/Body/medium */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.button__menu {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-body,#E1D4C9);
  border: none;
  text-decoration: none;
}

.menu__coffee-cup-pick {
  opacity: 0;
  transition: 0.5s;
}

.button__menu-text {
  color: var(--text-dark, #403F3D);
  transform: translateX(25%);
  transition: 0.5s;
}

.container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

h2 {
  color: var(--text-dark,#403F3D);
  text-align: center;
  /* Desktop/Heading/heading-2 */
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.italic_accent {
  font-style: italic;
  color: var(--text-accent);
}

.slider {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  overflow: hidden;
}

.row__slider {
  display: flex;
  /* min-width: 348px; */
  max-width: 480px;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 0;
  position: relative;
  /* overflow: hidden; */
  gap: 120px;
  transition: 1.5s;
}

.slide {
  display: flex;
  /*width: 1152px;*/
  /* min-width: 348px; */
  max-width: 1162px;
  flex-direction: column;
  align-items: center;
}

.slide__content {
  display: flex;
  /*width: 480px;*/
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img__slide img {
  width: max-content;
  height: 480px;
  object-fit: cover;
}

.description__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

h3 {
  color: var(--text-dark, #403F3D);
  text-align: center;
  /* Desktop/Heading/heading-3 */
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.slider__description-text {
  color: var(--text-dark);
  text-align: center;
}

.slider__button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  background: var(--background-body);
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 93vw;
  max-width: 1360px;
}

.slider__controls {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.slider__controls__elem {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
  position: relative;
}

.progress {
  width: 0%;
  height: 4px;
  border-radius: 100px;
  background: var(--border-dark, #665F55);
  position: absolute;
}

.progress.active-progress {
  animation: progress-width 5s linear 1;
}

@keyframes progress-width {
  from {
    width: 0%;
  }

  to {
    width: 100%;;
  }
}

.about {
  padding: 0px 40px;
}

.about_h2 {
  text-align: left;
}

.about__imgbox {
  display: flex;
  max-width: 1360px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.about__imgbox__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.imgbox__column-1-1, .imgbox__column-2-2 {
  max-width: 660px;
  max-height: 590px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgbox__column-1-2, .imgbox__column-2-1 {
  max-width: 660px;
  height: 430px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgbox__column-1-1 img,
.imgbox__column-1-2 img,
.imgbox__column-2-1 img,
.imgbox__column-2-2 img {
  width: 100%;
  scale: 1.15;
  transition: scale 1s;
}

.mobile_app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}

.mobile_app__container {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex: 1 0 0;
}

.mobile_app__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.mobile_h2 {
  text-align: left;
}

.mobile_p {
  color: var(--text-dark);
}

.mobile_app__img {
  max-width: 630px;
  max-height: 630px;
}

.mobile_app__img img {
  width: 100%;
}

.mobile_app_buttons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.button-app-store, .button-google-play {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  transition: 1s;
  background: var(--background-body);
}

.button-app-store-text {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  color: var(--text-dark, #403F3D);
  /* Desktop/Action/link & button */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.button-app-store-text-little {
  text-align: center;
  /* Desktop/Body/caption */
  font-size: 10px;
  line-height: 140%; /* 14px */
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}

.contacts__container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background: var(--background-container, #665F55);
}

.contacts__container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.contacts_h2 {
  text-align: left;
  color: var(--text-light);
}

.contacts_italic {
  font-style: italic;
  color: var(--text-accent);
}

.contacts_h3 {
  text-align: left;
  color: var(--text-light);
}

.contacts__container-content-social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  transition: 1s;
}

.content__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.content__contacts-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light);
}

a.content__contacts-info {
  position: relative;
}
a.content__contacts-info::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  opacity: 0;
  transition: 0.5s;
  height: 2px;
  background: var(--text-light);
}

@media (pointer: fine) {
  .slider__button {
    cursor: pointer;
  }

  .button-app-store, .button-google-play {
    cursor:pointer;
  }
}

@media(hover:hover) and (pointer: fine) {
  .header__menu-item:hover::after,
  .header__coffee-menu-item:hover::after {
    opacity: 1;
    width: 100%;
  }

  .menu__burger:hover {
    cursor: pointer;
  }

  .button__menu:hover {
    cursor: pointer;
  }

  .button__menu:hover .menu__coffee-cup-pick {
    opacity: 1;
  }

  .button__menu:hover .button__menu-text {
    transform: translateX(-5%);
  }

  .slider__button:hover {
    background-color:var(--border-dark,#665F55);
    transition: 1s;
  }

  .slider__button:hover .arrows_button{
    stroke: var(--background-body,#E1D4C9);
  }

  .imgbox__column-1-1 img:hover,
  .imgbox__column-1-2 img:hover,
  .imgbox__column-2-1 img:hover,
  .imgbox__column-2-2 img:hover {
    scale:1;
  }

  .button-app-store:hover, .button-google-play:hover {
    background-color: var(--border-dark, #665F55);
  }

  .button-app-store:hover span, .button-google-play:hover span {
    color: var(--background-body);
  }

  .button-app-store:hover  .mobile_buttons,
  .button-google-play:hover .mobile_buttons {
    fill: var(--background-body);
  }

  .social:hover {
    background-color: var(--background-body);
  }

  .social:hover .social-icon {
    stroke: var(--text-dark);
  }

  a.content__contacts-info:hover::after {
    opacity: 1;
    width: 100%;
  }
}

@media(hover:hover) and (min-width:769px) and (max-width:1300px){

  .imgbox__column-1-1 img:hover,
  .imgbox__column-1-2 img:hover,
  .imgbox__column-2-1 img:hover,
  .imgbox__column-2-2 img:hover {
    scale: 1;
  }
}

@media (hover:none) {
  .button__menu-text {
    transform: translateX(0);
  }

  .menu__coffee-cup-pick {
    opacity: 1;
  }
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
  .home {
    max-width: 1440px;
    min-width: 769px;
  }

  .enjoy {
    max-width: 1360px;
    min-width: 688px;
  }

  .enjoy__content {
    padding: 100px min(100px,8.72%);
  }

  .slide {
    /* min-width: 348px; */
    max-width: 1152px;
  }
  
  .about__imgbox {
    flex-direction: column;
    align-items: center;
  }
  
  .imgbox__column-1-1, .imgbox__column-2-2 {
    min-width: 688px;
    min-height: 590px;
  }
  
  .imgbox__column-1-2, .imgbox__column-2-1 {
    display: none;
  }

  .mobile_app__container {
    flex-direction: column;
  }
  
  .contacts__container {
    flex-direction: column;
    padding: 100px min(100px,8.72%);
    align-items: flex-start;
  }
}

@media (max-width:768px) {
  .no-scroll {
    overflow: hidden;
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    gap: 105px;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    padding-top: 162px;
    opacity: 1;
    transform: translate(100%);
    transition: all 2s;
    z-index: 2;
  }

  .menu__nav.active {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    padding-top: 162px;
    gap: 105px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    background: var(--background-body);
    opacity: 1;
    transform: translate(-100%);
    transition: all 1s;
  }

  .header__menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 60px;
  }

  .menu__nav.active .header__menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 60px;
  }

  .coffee-menu {
    justify-content: center;
    align-self: stretch;
  }

  nav {
    flex: 0;
  }

  .header__link.text_Desktop {
    font-size: 32px;
    line-height: 125%;
  }
  
  .menu__nav.active .text_Desktop {
    font-size: 32px;
    line-height: 125%;
  }

  .menu__nav.active .header__link{
    gap: 16px;
  }

  .menu__nav img {
    width: 40px;
    height: 40px;
  }

  .slider__buttons {
    width: 90vw;
  }
}

@media (width:768px) {
  .home {
    max-width: 768px;
    min-width: 381px;
  }

  .menu__burger {
    display: flex;
  }

  .enjoy__content {
    padding: 100px 60px;
  }

  .slider__buttons {
    width: 90vw;
}

  .about__imgbox {
    flex-direction: column;
    align-items: center;
  }
  
  .imgbox__column-1-1, .imgbox__column-2-2 {
    max-width: 688px;
    min-height: 590px;
  }
  
  .imgbox__column-1-2, .imgbox__column-2-1 {
    display: none;
  }

  .imgbox__column-1-1 img,
  .imgbox__column-2-2 img {
    scale: 1.05;
    transition: scale 1s;
  }

  .mobile_app__container {
    flex-direction: column;
  }
  
  .contacts__container {
    flex-direction: column;
    padding: 100px 60px;
    align-items: flex-start;
  }
}

@media (max-width:767px) {
  .home {
    max-width: 768px;
    min-width: 381px;
  }

  .menu__burger {
    display: flex;
  }

  h1 {
    font-size: calc(42px + 16 * (100vw / 1440));
  }

  .enjoy__content {
    padding: min(100px,20%) min(60px,7%);
  }

  .slider__buttons {
    width: 90vw;
}

  .wrapper,
  .about,
  .mobile_app,
  .contacts {
    padding: 0px min(40px,4.5%);
  }
  
  h2 {
    font-size: calc(32px + 16 * (100vw / 1440));
  }

  .about__imgbox {
    flex-direction: column;
    align-items: center;
  }
  
  .imgbox__column-1-1, .imgbox__column-2-2 {
    max-width: 726px;
    min-height: 590px;
  }
  
  .imgbox__column-1-2, .imgbox__column-2-1 {
    display: none;
  }

  .mobile_app__container {
    flex-direction: column;
  }
  
  .contacts__container {
    flex-direction: column;
    padding: min(100px,20%) min(60px,10%);
    align-items: flex-start;
  }
}

@media (max-width:680px) {
  .imgbox__column-1-1 img,
  .imgbox__column-2-2 img {
    scale: 1.2;
    transition: scale 1s;
  }
}

@media (hover:hover) and (max-width:680px) {
  .imgbox__column-1-1 img:hover,
  .imgbox__column-2-2 img:hover {
    scale: 1.1;
  }
}

@media (max-width:630px) {
  .imgbox__column-1-1 img,
  .imgbox__column-2-2 img {
    scale: 1.3;
    transition: scale 1s;
  }

  .mobile_app__container {
    gap: 80px;
  }
}

@media (hover:hover) and (max-width:630px) {
  .imgbox__column-1-1 img:hover,
  .imgbox__column-2-2 img:hover {
    scale: 1.2;
  }
}

@media (max-width:580px) {
  .imgbox__column-1-1 img,
  .imgbox__column-1-2 img,
  .imgbox__column-2-1 img,
  .imgbox__column-2-2 img {
    scale: 1.45;
    transition: scale 1s;
  }

  .mobile_app__container {
    gap: 65px;
  }
}

@media (hover:hover) and (max-width:580px) {
  .imgbox__column-1-1 img:hover,
  .imgbox__column-2-2 img:hover {
    scale: 1.35;
  }
}

@media (max-width:550px) {
  .imgbox__column-1-1 img,
  .imgbox__column-2-2 img {
    scale: 2.1;
    transition: scale 1s;
  }

  .mobile_app__container {
    gap: 60px;
  }
}

@media (hover:hover) and (max-width:550px) {
  .imgbox__column-1-1 img:hover,
  .imgbox__column-2-2 img:hover {
    scale: 2;
  }
}

@media (max-width: 460px) {
  .mobile_app_buttons {
    flex-direction: column;
  }

  .mobile_app__container {
    gap: 60px;
  }
}

@media (max-width:600px) {
  .slider__buttons {
    display: none;
  }

  .img__slide img {
    height: 348px;
  }

  .slide__content {
    max-width: 348px;
  }

  .row__slider {
    max-width: 348px;
    gap: 250px;
  }

  .description__slide {
    max-width: 340px;
  }
}

@media (max-width: 380px) {
  .home {
    max-width: 380px;
    min-width: 300px;
  }

  .menu__burger {
    display: flex;
  }

  .menu__nav {
    display: none;
  }

  h1 {
    font-size: 42px;
    line-height: 115%;
  }

  .enjoy__content {
    padding: 60px 16px;
  }

  .wrapper,
  .about,
  .mobile_app,
  .contacts {
    padding: 0px 16px;
  }
  
  h2 {
    font-size: 32px;
  }

  .slider {
    max-width: 348px;
  }

  /* .row__slider {
    min-width: 0;
  } */
  
  /* .slide {
    min-width: 0;
  } */
  
  .slide__content {
    max-width: 348px;
  }

  .about__imgbox {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .imgbox__column-1-1, .imgbox__column-2-2 {
    min-height: 590px;
  }
  
  .imgbox__column-1-2, .imgbox__column-2-1 {
    display: none;
  }

  .mobile_app__container {
    flex-direction: column;
    gap: 40px;
  }
  
  .contacts__container {
    flex-direction: column;
    padding: 60px 16px;
    align-items: flex-start;
    gap: 40px;
  }
}

@media (max-width: 370px) {
  .imgbox__column-1-1, .imgbox__column-2-2 {
    min-width: 0;
    min-height: 490px;
  }
}
